html {
    text-align: center;
} 

#menu {
    width: 38.2%;
    background-color: rgba(255, 166, 0, 0.452);
    padding: 10px;
    border: 1px solid;
}

.adicao-de-notas,
#grade-boletim {
    border-collapse: collapse;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.322);
    color: white;
}

#grade-boletim td{
    background-color: white;
    color:black
}
input[type="submit"] {
    width: 120px;
    border: 1px solid;
}